<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PWManager"
        tools:targetApi="34">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.PWManager"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".autofill.AutofillActivity"
            android:exported="true"
            android:label="PWManager Autofill"
            android:theme="@style/Theme.PWManagerDialog"
            android:windowSoftInputMode="adjustResize"
            android:excludeFromRecents="true" />

        <activity
            android:name=".settings.SettingsActivity"
            android:exported="true"
            android:label="PWManager Settings"
            android:theme="@style/Theme.PWManager"
            android:windowSoftInputMode="adjustResize" />

        <service
            android:name=".autofill.PWMAutofillService"
            android:label="PWManager Autofill"
            android:permission="android.permission.BIND_AUTOFILL_SERVICE"
            android:exported="true">

            <meta-data
                android:name="android.autofill"
                android:resource="@xml/autofill" />

            <intent-filter>
                <action android:name="android.service.autofill.AutofillService" />
            </intent-filter>
        </service>
    </application>

</manifest>